#charlieDay {
  display: none;
}

#michaelCera {
  display: none;
}

#amyPoehler {
  display: none;
}

#someone {
  display: none;
}

#keanuReeves{
  display: none;
}

#someone1{
  display: none;
}

#someone2{
  display: none;
}

#someone3{
  display: none;
}
